body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;/* 让 body 高度至少占满整个窗口 */
    display: flex;
    flex-direction: column;
   
}

.container{
    max-width: 648px; /* 设置最大宽度 */
    margin: 0 auto;    /* 居中 */
    padding: 0 80px;    /* 左右各留出 20px 间距 */
}

header {
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e3e3e3;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.actions button, .actions a {
    color: #000000;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

/* 设置暗黑模式 */
body.dark-mode{
    background-color: #000000;
    color: #ffffff;
}
body.dark-mode header{
    color:#fff;
}
body.dark-mode header a.button{
    color: #fff;
}


main {
    padding: 20px;
    margin-top: 100px;
}

/* 设置文章列表样式 */
.article {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article h2{
    font-size: 16px;
    margin: 0;
}
.date{
    font-size: 16px;
    color: #777;
    margin: 0;
}

/* 设置footer样式 */
footer{
    font-size: 14px;
    color: rgb(63, 64, 67);
    padding: 20px;
    text-align: center;
    margin-top: auto;/* 将 footer 推到 flex 容器的底部 */

}