body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px; /* 设置最大宽度 */
    margin: 0 auto;    /* 居中 */
    padding: 0 80px;    /* 左右各留出 20px 间距 */
}

header {
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.actions button, .actions a {
    color: #000000;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-top: 100px;
}

.article {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.article-info h2 {
    margin: 0;
    color: #333;
}
.article h2{
    font-size: 16px;
}
.date{
    font-size: 14px;
}

.date {
    color: #777;
}
footer{
    font-size: 16px;
    color: rgb(63, 64, 67);
    padding: 20px;
    text-align: center;
}