body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 10px;
}

.back-button {
    text-decoration: none;
    color: #333;
}

main {
    max-width: 648px;
    margin: 20px auto;
    padding: 10px;
}

.article-title {
    font-size: 24px;
    margin-bottom: 8px;
    color: #333333;
}

.article-date {
    color: #525252;
    margin-bottom: 20px;
}

.article-content p{
    font-size: 15px;
    color:#333333;
    margin:1.5rem 0;
}


